/* Estilo base */
.btn-custom {
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 6px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    transition: 0.3s ease all;
}
/* Botão outro cadastro */
.btn-cadastrar {
    background-color: #092b4fff;
    color: white;
}

/* Botão de voltar */
.btn-voltar {
    background-color: #3ba0f8ff;
    color: white;
}