         body { 
            background: #f5f3f0;
            min-height: 100vh; 
            font-family: Arial, sans-serif; 
        }
        
        /* Hero Section */
        .hero-section {
            background: linear-gradient(135deg, rgba(42, 44, 83, 0.95), #6068c4ff);
            color: white;
            padding: 80px 0;
            text-align: center;
        }
        
        .hero-section h1 {
            font-size: 3rem;
            font-weight: bold;
            margin-bottom: 20px;
        }
        
        .hero-section p {
            font-size: 1.2rem;
            opacity: 0.95;
        }

        /* Cards */
        .card-home { 
            background: white;
            border-radius: 15px; 
            padding: 40px 30px; 
            margin: 20px 0; 
            box-shadow: 0 2px 10px rgba(42, 44, 83, 0.95);
            text-align: center;
            transition: transform 0.3s ease;
        }
        
        .card-home:hover { 
            transform: translateY(-5px);
            box-shadow: 0 5px 20px rgba(26, 220, 214, 1);
        }
        
        .card-home i { 
            font-size: 3rem; 
            color: #4a9b9e;
            margin-bottom: 20px;
            display: block;
        }
        
        .card-home h4 { 
            color:rgba(42, 44, 83, 0.95);
            margin-bottom: 15px;
            font-weight: 600;
        }
        
        .card-home p { 
            color: #7f8c8d;
            margin-bottom: 20px;
        }
        
        .btn-senai { 
            background-color: rgba(42, 44, 83, 0.95);
            border: none; 
            padding: 12px 30px; 
            border-radius: 25px; 
            color: white;
            text-decoration: none;
            display: inline-block;
            transition: background-color 0.3s ease;
        }
        
        .btn-senai:hover {
            background-color: #6face9ff;
            color: white;
        }
        
        .cards-section {
            padding: 60px 0;
            padding-left: 310px;
        }